/* mixin */
@mixin debug-border($color) {
    border-color: $color;
    border-style: solid;
    border-width: 5px;
}

/* mq */
@media (max-width: 768px) {
    .section {
        background-color: gray;
    }
}
@media (min-width: 769px) {
    .section {
        display: inline-flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .demo-row {
        display:inline-flex;
    }
}

/* main */
body {
    margin: 0 10px;
}

.container {
    display: -webkit-flex;
    display: flex;
}

.side-bar {
	@include debug-border(rgb(106, 197, 172));
    width: 200px;
}

.main-page {
  -webkit-flex: 1;
          flex: 1;
          @include debug-border(rgb(106, 197, 172));
}

.demo-item {
    @include debug-border(#FDC72F);
    flex: 1;
}
